@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,300&display=swap');
 :root {
   --main-blue: #0a84ff;
   --main-ink: #36395b;
   --second-blue: #311BBF;
   --dark-blue: #263F8C;
   --active-color: #F2A03D;
   --welcome-color: #F2F2F2;
 }
body {
   margin: 0;
   font-family: 'Nunito', sans-serif;
   background-image: linear-gradient(135deg, var(--welcome-color)50%, var(--main-ink) 50%);
   background-attachment: fixed;
 }

/*Navigation Bar*/
#navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
   background-color: var(--dark-blue);
   -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
 }
#navbar ul {
   display: flex;
   justify-content: flex-end;
   list-style: none;
   
 }
.nav-link {
 font-size: 18px;
 padding: 5px 8px;
 margin: 1em;
 text-decoration: none;
 color: white;
 }
.nav-link:hover {
  border: 2px solid var(--active-color);
  border-radius: 20px;
}

/*welcome section*/
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: black;
  font-size: 2rem;
}
.img {
  display: block;
  margin: 2.5em auto auto auto;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.img:hover, .img:active {
  height: 9em;
  width: 9em;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

/*Project Section*/
.section-projects {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  font-size: 2rem;
}
.project-tile {
  margin: 0 1em;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
  align-items: center;
  gap: 1em;
 }
 .img-project {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 7em;
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
 }
 .img-project:hover {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
 .text-project {
   background-color: black;
   margin: 0;
   font-size: 0.65em;
   color: var(--active-color);
 }
.info-text {
  margin-top: 2em;
  font-size: 0.65em;
  color: var(--main-blue);
}
#profile-link {
  color: var(--active-color);
  text-decoration: none;
}
.thumbnails {
  box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.4);
}

/*Contact Me Section*/
.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  font-size: 2rem;
  
}
.icons {
  cursor: pointer;
  margin-top: 1em;
  width: 2em;
  transition: ease-in 0.3s;
} 
.icons:hover {
  width: 3em;
}
.contacto {
  display: inline-flex;
  justify-content: space-evenly;
  color: var(--active-color);
  font-size: 24px;
}
footer {
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: white;
}

/*Responsive text, navbar and tile*/
@media screen and (max-width: 1024px) {
  .project-tile {
    grid-template-columns: 1fr 1fr;
  }
  #navbar {
    height: 3.5em;
  } 
  .section, .section-projects, .section-contact {
     font-size: 1.5em;
     padding-bottom: 1em;
   }
  .name {
     margin-top: 7em;
   }
}
/*Hamburger button Snippet Thanks to CSS-TRICKS*/
 @media screen and (max-width: 780px) {
  .nav-link {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
  }
  .list {
    visibility: hidden;
    margin: 0;
    height: 0;
    padding-top: 4em;
    width: 100%;
    background-color: var(--main-ink);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    transition: height ease 2s;
  }
  .show-list {
    visibility: visible;
    height: 13em;
  }
  .nav-link:hover {
    border: none;
    color: var(--active-color);
  }
   .hamburger {
    cursor: pointer;
    position: fixed;
    right: 0;
    width: 48px;
    height: 48px;
    transition: all 0.25s;
  }
  
  .hamburger__top-bun,
  .hamburger__bottom-bun {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    width: 18px;
    height: 1px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.25s;
  }
  
  .hamburger:hover [class*="-bun"] {
    background: #999;
  }
  
  .hamburger__top-bun {
    top: 23px;
    transform: translateY(-3px);
  }
  
  .hamburger__bottom-bun {
    bottom: 23px;
    transform: translateY(3px);
  }
  
  .open {
    transform: rotate(90deg);
  }
  
  .open .hamburger__top-bun {
    transform: 
      rotate(45deg) 
      translateY(0px);
  }
  
  .open .hamburger__bottom-bun {
    transform: 
      rotate(-45deg) 
      translateY(0px);
  } 
  
  /*Hamburger styles*/
  .hamburger {
    cursor: pointer;
    position: absolute;
    width: 48px;
    height: 48px;
    transition: all 0.25s;
  }
  
  .hamburger__top-bun,
  .hamburger__bottom-bun {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    width: 18px;
    height: 1px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.25s;
  }
  
  .hamburger:hover [class*="-bun"] {
    background: #999;
  }
  
  .hamburger__top-bun {
    top: 23px;
    transform: translateY(-3px);
  }
  
  .hamburger__bottom-bun {
    bottom: 23px;
    transform: translateY(3px);
  }
  
  .open {
    transform: rotate(90deg);
  }
  
  .open .hamburger__top-bun {
    transform: 
      rotate(45deg) 
      translateY(0px);
  }
  
  .open .hamburger__bottom-bun {
    transform: 
      rotate(-45deg) 
      translateY(0px);
  }

 }
 @media screen and (max-width: 540px) {
  .section {
    font-size: 1.3em;
  }
  .nav-link {
    font-size: 0.8em;
  }
  .name {
    margin-top: 9em;
  }
  .project-tile {
    grid-template-columns: 1fr;
    margin-top: 1em;
  }
  .section-projects {
    font-size: 1.3em;
  }
  .contacto {
    width: 1.5;
    font-size: 16px;
    flex-direction: column;
  }
  .list {
    padding-top: 2em;
  }
}
